.circle{
  width: 30px;
  height: 30px;
  border: 1px;
  border-radius: 50%;
  size:fixed;
}

#progressBar{
  width: 100%;
  background-color: #ddd;
}

#bar{
  height: 30px;
  background-color: #4CAF50;
}